
{% comment %}
  Renders a list of product's price (regular, sale)

  Accepts:
  - product: {Object} Product Liquid object (optional)
  - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
  - show_badges: {Boolean} Renders 'Sale' and 'Sold Out' tags if the product matches the condition (optional)
  - price_class: {String} Adds a price class to the price element (optional)
  - show_compare_at_price: {Boolean} Renders the compare at price if the product matches the condition (optional)

  Usage:
  {% render 'price', product: product %}
{% endcomment %}
{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign price_min = product.price_min
  assign price_max = product.price_max
  assign available = target.available | default: false
  assign money_price = price | money
  assign money_price_min = price_min | money
  assign money_price_max = price_max | money
  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
    assign money_price_min = price_min | money_with_currency
    assign money_price_max = price_max | money_with_currency
  endif

  if target == product and product.price_varies
    assign money_price = 'products.product.price.from_price_html' | t: price: money_price
  endif
-%}

<div class="price
    {%- if price_class %} {{ price_class }}{% endif -%}
    {%- if available == false %} price--sold-out{% endif -%}
    {%- if compare_at_price > price and product.quantity_price_breaks_configured? != true %} price--on-sale{% endif -%}
    {%- if compare_at_price > price and product.quantity_price_breaks_configured? %} volume-pricing--sale-badge{% endif -%}
    {%- if product.price_varies == false and product.compare_at_price_varies %} price--no-compare{% endif -%}
    {%- if show_badges %} price--show-badge{% endif -%}
  "
>
  <div class="price__container">
    {%- comment -%}
      Explanation of description list:
        - div.price__regular: Displayed when there are no variants on sale
        - div.price__sale: Displayed when a variant is a sale
    {%- endcomment -%}
    <div class="tmb_price_per_items">

    <div class="price__regular">
      {%- if product.quantity_price_breaks_configured? -%}
        {%- if show_compare_at_price -%}
          {%- unless product.price_varies == false and product.compare_at_price_varies %}
            <span class="visually-hidden visually-hidden--inline">
              {{- 'products.product.price.regular_price' | t -}}
            </span>
            <span>
              <s class="price-item price-item--regular variant-item__old-price">
                {% if settings.currency_code_enabled %}
                  {{ compare_at_price | money_with_currency }}
                {% else %}
                  {{ compare_at_price | money }}
                {% endif %}
              </s>
            </span>
          {%- endunless -%}
        {%- endif -%}
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
        <span class="price-item price-item--regular">
          {{- 'products.product.volume_pricing.price_range' | t: minimum: money_price_min, maximum: money_price_max -}}
        </span>
      {%- else -%}
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>

        <span class="price-item price-item--regular tmb_price_item">
          {{ money_price }}
        </span>
      {%- endif -%}
      </div>

          <button type="button" aria-label="Add to wishlist" class="tmb_add_to_wish_btn" button-wishlist data-product-handle="{{ product.handle }}">

        <span>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M12 5.09L10.5802 3.88099C9.66658 3.32208 8.59721 3 7.5 3C4.42 3 2 5.42 2 8.5C2 12.2769 5.39442 15.3549 10.5373 20.0185L10.55 20.03L12 21.35L13.45 20.04L13.4895 20.0041C18.6174 15.3442 22 12.2703 22 8.5C22 5.42 19.58 3 16.5 3C15.4028 3 14.3334 3.32208 13.4198 3.88099L12 5.09ZM19.34 10.8749C18.3645 12.6902 16.8698 14.2298 12.1049 18.5599L12.0051 18.65L11.8964 18.551C7.14926 14.2464 5.64456 12.699 4.66601 10.8857C4.21194 10.0443 4 9.27778 4 8.5C4 6.52457 5.52457 5 7.5 5C8.62227 5 9.74637 5.52835 10.4773 6.38668L12 8.17481L13.5227 6.38668C14.2536 5.52835 15.3777 5 16.5 5C18.4754 5 20 6.52457 20 8.5C20 9.27441 19.7899 10.0376 19.34 10.8749Z" fill="white"/>
<mask id="mask0_361_10050" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="2" y="3" width="20" height="19">
<path fill-rule="evenodd" clip-rule="evenodd" d="M12 5.09L10.5802 3.88099C9.66658 3.32208 8.59721 3 7.5 3C4.42 3 2 5.42 2 8.5C2 12.2769 5.39442 15.3549 10.5373 20.0185L10.55 20.03L12 21.35L13.45 20.04L13.4895 20.0041C18.6174 15.3442 22 12.2703 22 8.5C22 5.42 19.58 3 16.5 3C15.4028 3 14.3334 3.32208 13.4198 3.88099L12 5.09ZM19.34 10.8749C18.3645 12.6902 16.8698 14.2298 12.1049 18.5599L12.0051 18.65L11.8964 18.551C7.14926 14.2464 5.64456 12.699 4.66601 10.8857C4.21194 10.0443 4 9.27778 4 8.5C4 6.52457 5.52457 5 7.5 5C8.62227 5 9.74637 5.52835 10.4773 6.38668L12 8.17481L13.5227 6.38668C14.2536 5.52835 15.3777 5 16.5 5C18.4754 5 20 6.52457 20 8.5C20 9.27441 19.7899 10.0376 19.34 10.8749Z" fill="white"/>
</mask>
<g mask="url(#mask0_361_10050)">
<rect width="24" height="24" fill="white"/>
</g>
</svg>

        </span>
        Add to Wishlist
      </button>

 


              
    </div>


              
    <div class="price__sale">
      {%- unless product.price_varies == false and product.compare_at_price_varies %}
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
        <span>
          <s class="price-item price-item--regular">
            {% if settings.currency_code_enabled %}
              {{ compare_at_price | money_with_currency }}
            {% else %}
              {{ compare_at_price | money }}
            {% endif %}
          </s>
        </span>
      {%- endunless -%}
      <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.sale_price' | t }}</span>
      <span class="price-item price-item--sale price-item--last">
        {{ money_price }}
      </span>
    </div>
    <small class="unit-price caption{% if product.selected_or_first_available_variant.unit_price_measurement == nil %} hidden{% endif %}">
      <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
      <span class="price-item price-item--last">
        <span>{{- product.selected_or_first_available_variant.unit_price | money -}}</span>
        <span aria-hidden="true">/</span>
        <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
        <span>
          {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
            {{- product.selected_or_first_available_variant.unit_price_measurement.reference_value -}}
          {%- endif -%}
          {{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}
        </span>
      </span>
    </small>
  </div>
  {%- if show_badges -%}
    <span class="badge price__badge-sale color-{{ settings.sale_badge_color_scheme }}">
      {{ 'products.product.on_sale' | t }}
    </span>

    <span class="badge price__badge-sold-out color-{{ settings.sold_out_badge_color_scheme }}">
      {{ 'products.product.sold_out' | t }}
    </span>
  {%- endif -%}
</div>
