<style>
.tmb_about_journey_sec{
    background-image: url(https://cdn.shopify.com/s/files/1/0765/0695/6086/files/aboutbg_journey.png?v=1693803266);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 54px 0px;
    background-attachment: fixed;
}
.tmb_aboutJourney_headingBox{
    padding-bottom: 20px;
}
.tmb_aboutJourney_heading  {
    color: #E50C7D;
text-align: center;
text-shadow: 0px 0px 27px #E50C7D;
font-family: Newake;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 100% */
letter-spacing: 1.6px;
max-width: 574px;
width: 100%;
margin: auto;
}
.tmb_aboutJourney_para{
    color: #FFF;
text-align: center;
font-family: Circular Std;
font-size: 18px;
font-style: normal;
font-weight: 450;
line-height: normal;
max-width: 677px;
width: 100%;
margin: auto;
}
.about_button{
  display:block;
  max-width:317px;
  width:100%;
  margin:0 auto;

}

  .tmb_aboutJourney_description{
    display:flex;
    flex-direction:column;
    gap:20px;
  }









  
</style>



<section class="tmb_about_journey_sec">
        <div class="tmb_container">
    <div>
        <div class="tmb_aboutJourney_headingBox">
      <h3 class="tmb_aboutJourney_heading ">{{ section.settings.title1 }}</h3>
   <h3  class="tmb_aboutJourney_heading ">{{ section.settings.title2 }} </h3>
        </div >
      <div class="tmb_aboutJourney_description" >

       {% for block in section.blocks %}
          <p class="tmb_aboutJourney_para">{{ block.settings.textDetail }}</p>
       {% endfor %}
        </div>
    </div>
    <a href="{{ section.settings.link }}" class="about_button tmb_rich_btn solid_cta ">{{section.settings.btnLabel }}</a>
</div>
</section>


{% schema %}
  {
  "name": "About Journey Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner Background Image"
    },
    {
      "type": "textarea",
      "id": "title1",
      "label": "Heading",
      "default":"Let's Create Together:"
    },
    {
      "type": "textarea",
      "id": "title2",
      "label": "Page Description",
      "default":"Your Artistic Journey Awaits"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Button Link"
    },
    {
      "type": "textarea",
      "id": "btnLabel",
      "label": "Button Title",
      "default":"Get Your Unique Art"
      
    }
  ],
    "blocks": [
    {
      "name": "Content",
      "type": "description",
      "settings": [
        {
          "type": "textarea",
          "id": "textDetail",
          "label": "Text"
        }
      ]
    }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}