<style>
  .get_started_sec{
    padding:120px 0 96px;
    position: relative;
    overflow: hidden;
  }
  .get_started_sec::after {
    content: '';
    border-radius: 1624.069px;
    opacity: 0.2;
    background: radial-gradient(50% 50.00% at 50% 50.00%, #E50C7D 0%, rgba(244, 0, 127, 0.00) 100%);
    backdrop-filter: blur(65px);
    position: absolute;
    top: -300px;
    left: 50%;
    width: 1611.528px;
    height: 1624.069px;
}
    .get_started_sec::before {
      content: '';
      border-radius: 50%;
      opacity: 0.2;
      background: radial-gradient(50% 50.00% at 50% 50.00%, #E50C7D 0%, rgba(244, 0, 127, 0.00) 100%);
      backdrop-filter: blur(65px);
      position: absolute;
      bottom: -300px;
      left: -70%;
      width: 1611.528px;
      height: 1624.069px;
    }
  .bg-elements{
    display:block;
  }
  .bg-elements::after{
    content: '';
    border-radius: 50%;
    width: 979px;
    height: 986px;
    border-radius: 986px;
    opacity: 0.2;
    background: radial-gradient(50% 50.00% at 50% 50.00%, rgba(12, 125, 229, 0.90) 0%, rgba(0, 83, 244, 0.00) 100%);
    backdrop-filter: blur(65px);
    position: absolute;
    bottom: -100px;
    right: -450px;
  }
  .bg-elements::before {
    content: url(https://cdn.shopify.com/s/files/1/0765/0695/6086/files/pattren-1.svg?v=1693028022);
    position: absolute;
    top: calc(50% - 170px);
    left: calc(50% - 24px);
    transform: translate(-50%,-50%);
  }
  .sec_content_inner.third-slide:after {
    content: url(https://cdn.shopify.com/s/files/1/0765/0695/6086/files/pattren-2.svg?v=1693028203);
    position: absolute;
    top: 90%;
    right: 210px;
    z-index: -1;
  }
  
  .sec_content_inner.third-slide {
    position: relative;
  }
  .get_started_sec .tmb_container{
    position: relative;
    z-index:1;
  }
  .get_started_sec .sec_head{
    margin-bottom:80px;
  }
  .get_started_sec .sec_head_inner{
    display:flex;
    align-items:center;
    justify-content: center;
  }
  .star_wrapper {
    margin-top: -6px;
    width: 48px;
    height: 48px;
    display: flex;
    border-radius: 30px;
    border: 1px solid #FFDD40;
    background: rgba(255, 255, 255, 0.08);
  }
  .star_wrapper img {
    margin: auto;
    max-width: 27px;
  }
  .get_started_sec .spacer{
    margin-top: -6px;
    background: #FFDD40;
    width: 38px;
    height: 1px;
    display: block;
  }
  .get_started_sec .sec_content_inner,
  .get_started_sec .text_wrapper
  {
    display:flex;
    align-items:center;
    gap:21px;
  }
  .get_started_sec .text_wrapper{
   align-items:start; 
  }
  .text_heading{
    color: #E50C7D;
    text-shadow: 0px 0px 54.04px rgba(229, 12, 125, 0.80);
    font-family: Newake;
    font-size: 166.924px;
    font-weight: 400;
    line-height: 165.614px;
    letter-spacing: 5.564px;
  }
  .get_started_sec .heading_lg{
    margin-bottom:16px;
  }
  .get_started_sec .body_text_lg {
      max-width: 595px;
  }
  .text_wrapper{
    max-width:70%;
    width:100%;
  }
  .img_wrapper{
    max-width:30%;
    width:100%;
   
  }
  .img_wrapper .img_inner{
    padding:3px;
    border-radius: 10px;
    border: 1px solid rgba(255, 221, 64, 0.60);
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0px 24px 40px 12px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(6px);
    width: fit-content;
    /* margin: 0 0 0 auto; */
  }
  .img_wrapper .img_inner img{
    display:block;
  }
  
  .get_started_sec .heading_xl{
    text-align:start;
  }
  .img_wrapper .inner-modifier{
    margin: 0 auto 0 0;
  }
  .highlighted_text{
    color: #FFDD40;
    display:block;
  }
  .second-slide .img_wrapper .img_inner img {
    max-width: 370px;
    width:100%;
  }
  .get_started_sec .second-slide{
    margin-top:27px;
  }
  
  
  .get_started_sec .fourth-slide
  {
    margin-top:62px;
  }
  .get_started_sec .second-slide {
      margin-top: 18px;
  }
  .get_started_sec .third-slide{
      margin-top: 54px; 
  }
  .get_started_sec .sec_content_inner.fourth-slide {
    gap: 60px;
  }
  .sec_content_inner.third-slide .text_wrapper , 
  .sec_content_inner.second-slide .text_wrapper
  {
    justify-content: center;
  }
  .sec_content_inner.first-slide .text_wrapper {
      justify-content: center;
  }
  .cta_wrapper{
      text-align:center;
      margin-top:71px;
    }
  .cta_wrapper a{
      display: inline-block;
    }
  .get_started_sec .first-slide .img_wrapper{
    position:relative;
  }
  .get_started_sec .tooltip_text{
    color: #FFDD40;
    font-family: Sansita One;
    font-size: 18px;
    font-weight: 400;
    padding:8px 24px;
    border-radius: 15px;
    border: 1px solid #FFDD40;
    background: rgba(28, 29, 60, 0.80);
    max-width:283px;
    width:100%;
    position: absolute;
    top: 32px;
    line-height: 24px;
    left: calc(-100% + 127px);
  }
  .get_started_sec  .solid_cta{
      max-width:317px;
      width:100%;
  }
  /* Responsive Breakpoints */
  @media(max-width:1200px){
    .bg-elements::before,
    .sec_content_inner.third-slide:after
    {
        display:none;
    }
  }  
  @media(max-width:991px){
    .sec_content_inner.third-slide,
    .sec_content_inner.first-slide
    {
      flex-direction: column;
      align-items: flex-start;
    }
    .sec_content_inner.second-slide ,
    .sec_content_inner.fourth-slide
    {
      flex-direction: column-reverse;
    }
    .get_started_sec .text_wrapper{
      max-width: 100%;
      width: 100%;
    }
    .img_wrapper{
      max-width: 100%;
    }
    .img_wrapper .img_inner{
      margin: 0;
      width: 100%;
    }
    .img_wrapper .img_inner img ,
    .second-slide .img_wrapper .img_inner img
    {
      max-width: 100%;
      width: 100%;
  }
    .sec_content_inner.first-slide .img_inner {
      width: 80%;
      margin: 0 0 0 auto;
    }
    .get_started_sec .tooltip_text{
      left: 0;
      top: 41px;
      max-width: 240px;
      line-height: 18px;
      font-size: 14px;
    }
    
  }
  @media(max-width:750px){
    .get_started_sec{
      padding:56px 0 64px;
    }
    .get_started_sec .sec_head{
      margin-bottom:48px;
    }
    .star_wrapper{
      width: 32px;
      height: 32px;
    }
    .star_wrapper img{
      max-width: 17px;
    }
    .get_started_sec .spacer{
        width: 24px;
    }
    .text_heading{
      font-size: 63.351px;
      line-height: 62.853px;
      letter-spacing: 2.112px;
    }
    .get_started_sec .sec_content_inner {
      margin-top: 76px;
    }
    .get_started_sec .heading_lg{
      margin-bottom:8px;
    }
    .get_started_sec .sec_content_inner, .get_started_sec .text_wrapper,
    .get_started_sec .sec_content_inner.fourth-slide
    {
      gap:15px;
    }
    .cta_wrapper{
      margin-top:40px;
    }
    
    
  }
 @media only screen and (max-width: 400px) and (min-width: 360px)  {
   .get_started_sec .sec_content {
      position: relative;
    }
   .get_started_sec .sec_content:after {
    content: url(https://cdn.shopify.com/s/files/1/0765/0695/6086/files/bg-pattren-mobile.svg?v=1693029478);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
 }

</style>
<section class="get_started_sec">
  <div class="bg-elements"></div>
  <div class="tmb_container">
    <div class="sec_head">
      <div class="sec_head_inner">
        <div class="star_wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0765/0695/6086/files/stars.png?v=1692956061" alt="image-description">
        </div>
        <div class="spacer"> </div>
        <h2 class="heading_xl">{{ section.settings.title }}</h2>
      </div>
    </div>
    <div class="sec_content">

     {% for block in section.blocks %} 
      {% assign mod = forloop.index | modulo: 2 %}
       
      <div class="sec_content_inner {% if forloop.index == 1 %} first-slide {% endif %} {% if forloop.index == 2 %} second-slide {% endif %}{% if forloop.index == 3 %} third-slide {% endif %}{% if forloop.index == 4 %} forth-slide {% endif %}">
        {% if mod == 0 %}
          <div class="img_wrapper">
          <div class="img_inner inner-modifier">
           {% if block.settings.image !=blank %}
            <img src="{{ block.settings.image | img_url : "master" }}" alt="image-description">
           {%  endif %}
             
          </div>
          {% if forloop.index == 1 or  forloop.index == 2 %}
          <p class="tooltip_text">{{ block.settings.label }} 
            {% if forloop.index == 2 %}
          <span class="highlighted_text"> 12{{ block.settings.label }}</span>  {%  endif %}
          </p>
            {%  endif %}
        </div>
      
        <div class="text_wrapper">
          <h2 class="text_heading">{{ forloop.index }}</h2>
          <div>
              <h3 class="heading_lg">{{ block.settings.heading }}</h3>
              <p class="body_text_lg">
                {{ block.settings.description }}
                {% unless forloop.index == 0 %}
                  <span class="highlighted_text"> {{ block.settings.label }}</span>  
                  {% endunless %}
              </p>
          </div>
        </div>
        
        {% else %}
          <div class="text_wrapper">
          <h2 class="text_heading">{{ forloop.index }}</h2>
          <div>
              <h3 class="heading_lg">{{ block.settings.heading }}</h3>
              <p class="body_text_lg">
                {{ block.settings.description }}
              </p>
          </div>
        </div>
          <div class="img_wrapper">
          <div class="img_inner ">
           {% if block.settings.image !=blank %}
            <img src="{{ block.settings.image | img_url : "master" }}" alt="image-description">
           {%  endif %}
             
          </div>
          {% if forloop.index == 1 %}
          <p class="tooltip_text">{{ block.settings.label }}</p>
            {%  endif %}
        </div>
        {% endif %}
          
      </div>
      {% endfor %}
      
      {% if section.settings.button_show %}
        <div class="cta_wrapper">
          <a href="{{ section.settings.button_link }}" class="solid_cta">Get Your Unique Art</a>
        </div>
        {% endif %}
    </div>
  </div>
</section>



{% schema %}
{
  "name": "get started",
  "tag": "section",
  "class": "slideshow",
  "max_blocks": 4,
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "heading"
    },
    {
          "type": "checkbox",
          "id": "button_show",
          "label": "Button Show/Hide",
          "default": false
        },
         {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }
  ],
  "blocks": [
     {
       "name": "get started",
       "type": "started",
       "limit" : 8,
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "textarea",
          "id": "label",
          "label": "This text will appear on first/second block."
        }
       ]
     }
   ],
  "presets": [
    {
      "name": "get started"
    }
  ]
}
{% endschema %}

