{%- style -%}
.postgrid {
    /* display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4,351px);
    justify-content: center;
    align-content: end; */

display: grid;  
  grid-template-columns: 1fr 3fr 1fr;  
  grid-template-rows: minmax(200px auto) 400px minmax(300px, auto);  
  grid-auto-rows: minmax(300px, auto);  
  grid-gap: 20px;  
}


ul.postgrid > li:nth-child(2) {
    display: flex;
}

ul.postgrid  > li:nth-child(1){
    /* grid-column: 1 / 3;
    grid-row: 1 / 4; */
    background: #51485e;
    border: 1px solid;
}

ul.postgrid li:nth-child(3){
    display: flex;

}

ul h2{
font-size: 17px;}











.container {
  /* max-width: 948px;
  margin: 4em auto;
  padding: 4em;
  border-radius: 1em; */
display: flex;
}

section.cards {
    margin: 0 auto;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(3, 332px);
    grid-template-rows: repeat(12, 196px);
    grid-gap: 38px;
}

.cardxz {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #584b69;

  transition: all 0.25s ease;
}

.cardxz:hover {
  transform: scale(1.05);
}

.vertical {
  flex-direction: column;
  grid-row: span 2;
  grid-column: span 1;
}

.horizontal {
  flex-direction: row;
  grid-row: span 1;
  grid-column: span 2;
}

.reverse-horizontal {
  flex-direction: row-reverse;
  grid-row: span 1;
  grid-column: span 2;
}


.horizontal .card__img, .reverse-horizontal .card__img {
  height: 100%;
}

.vertical .card__img {
  width: 100%;
}
.card__content {
  padding: 16px;
}

.card__type {
  font-variant: small-caps;
  letter-spacing: 2px;
  opacity: 0.9;
  color: palevioletred;
  padding-bottom: 0.5em;
}

.card__title {
  font-size: 18px;
  opacity: 0.8;
  font-weight: 700;
  padding-bottom: 0.5em;
  transition: all 0.25s ease;
}

.card__date {
  font-size: 14px;
  padding-bottom: 0.5em;
  opacity: 0.3;
}

.card__time-to-read {
  font-style: italic;  
}

.card__excerpt {
  font-size: 16px;
  padding-bottom: 0.5em;
}

.card__tags {
  margin-top: auto;
}

.tag {
  display: inline;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 12px;
  color: palevioletred;
  user-select: none;
  cursor: pointer;
}

.tag:hover {
  background: darken(papayawhip, 5%);
}

.tag:active {
  background: darken(papayawhip, 10%);
}

.tag i {
  margin-right: 4px;
}








 {%- endstyle -%}







<div class="container">

  <section class="cards">
    <article class="vertical cardxz">
      <img class="card__img" src="https://picsum.photos/256/196/?image=321" class="card__image">
      <div class="card__content">
        <div class="card__title">
         Impact Of Extrinsic Motivation On Intrinsic Move forward
        </div>
        <div class="card__excerpt">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        </div>
        <div class="card__tags">
          <div class="tag"><i class="fa fa-tag"></i>Learn more</div>
        </div>
      </div>
    </article>
    <article class="horizontal cardxz">
      <img class="card__img" src="https://picsum.photos/256/196/?image=990" class="card__image">
      <div class="card__content">
        <div class="card__title">
          Test Post: Electric Boogaloo
        </div>
        <div class="card__excerpt">
          This is a test article, in a perculiar context, to see whether grid and flexbox works to make a blog...
        </div>
        <div class="card__tags">
          <div class="tag"><i class="fa fa-tag"></i>Learn more</div>
        </div>
      </div>
    </article>
    <article class="horizontal cardxz">
      <img class="card__img" src="https://picsum.photos/256/196/?image=123" class="card__image">
      <div class="card__content">
        <div class="card__title">
          Test Post: Electric Boogaloo
        </div>
        <div class="card__excerpt">
          This is a test article, in a perculiar context, to see whether grid and flexbox works to make a blog...
        </div>
        <div class="card__tags">
          <div class="tag"><i class="fa fa-tag"></i>Learn more</div>
        </div>
      </div>
    </article>
  
  </section>
</div>

























{% comment %}




<div>

<!-- <h1>{{ section.settings.title | escape }}</h1>
 -->
{%- assign blog = blogs[section.settings.blog] -%}

{%- if blog.articles_count > 0 -%}
  <ul class="postgrid">

    {%- for article in blog.articles limit: section.settings.post_limit -%}
      <li>
        <a href="{{ article.url }}">
          {%- if article.image -%}
            {{ article | img_url: '150x150', scale: 2 | img_tag: '' }}
          {%- endif -%}
          <h2>{{ article.title }}</h2>
        </a>

        {%- if section.settings.blog_show_author -%}
          <span>
            By {{ article.author }}
          </span>
        {%- endif -%}

        {%- if section.settings.blog_show_date -%}
          <span>
            {{ article.published_at | time_tag: format: 'month_day_year' }}
          </span>
        {%- endif -%}

        {%- if article.excerpt.size > 0 -%}
          {{ article.excerpt }}
        {%- else -%}
          {{ article.content | strip_html | truncate: 150 }}
        {%- endif -%}

        {%- if article.tags.size > 0 -%}
          <ul aria-label="{{ 'blogs.article.tags' }}">
          {%- for tag in article.tags -%}
            <li>
              <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
            </li>
          {%- endfor -%}
          </ul>
        {%- endif -%}

        <ul class="postgird-footer">
          <li>
            <a href="{{ article.url }}" aria-label="Read more: {{ article.title }}">
              Read more
            </a>
          </li>

          {%- if blog.comments_enabled? and article.comments_count > 0 -%}
            <li>
              <a href="{{ article.url }}#comments">
                {{ article.comments_count }} comments
              </a>
            </li>
          {%- endif -%}

        </ul>
      </li>
    {%- endfor -%}

  </ul>
{%- endif -%}
</div>
{%- if section.settings.show_view_all -%}
  <a href="{{ blog.url }}"
    class="btn"
    aria-label="{{ 'blogs.article.view_all_blogs' }}">
    {{ 'blogs.article.view_all' }}
  </a>
{%- endif -%}

{% endcomment %}

{% schema %}
{
  "name": "new Blog posts",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Blog posts"
    },
    {
      "id": "blog",
      "type": "blog",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "post_limit",
      "label": "Posts",
      "min": 3,
      "max": 12,
      "step": 3,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": "Show author",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show 'View all' button",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "new Blog posts",
      "category": "Blog",
      "settings": {
        "blog": "News",
        "post_limit": 3
      }
    }
  ]
}
{% endschema %}